.bg-box{
    margin: 10% auto 75px;
    
    width: 1000px;
    height: 500px;
    background-color: green;
    background-image: url(../images/pole-zelen-trava-dom-derevya.jpg),  url(../images/lamp-png-0.png) , url(../images/grass-png-images-pictures-transparent-28.png), url(../images/jiishak.png),  url(../images/58eb07b830eab15b56162788.png);
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 450px 300px, 35px 50px,  250px 130px,30px 30px, 30px 30px;
    background-position: center,  top, bottom, left, right;



}

.ps-block{
    width: 700px;
    margin: 0 auto;
    color: green;
    font-size: 40px;
    text-align: justify;
}

.ps-text{
    font-style: italic;
    text-decoration: underline;
}


